<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">message</th>
    <th scope="col">scheduled_at</th>
    <th scope="col"> </th>
    <th scope="col"> </th>
  </tr>
  </thead>
  <tbody>
  <%= render "smails" %>
  </tbody>
</table>
<%= link_to "New Mail", mails_new_path, class: "btn btn-lg btn-primary" %><br><br>
