<footer class="footer">
  <div class="container col-md-12">
    <div class="row" style="padding: 0 16px">
      <div class="col-md-3">

      </div>
      <div class="col-md-8"></div>
      <div class="col-md-1">
        <span class="text-muted"><small>SidLab</small></span>
      </div>
    </div>
  </div>
</footer>